<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.rsdiz.rdshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_rdshop"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_rdshop_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RDSHOP.NoActionBar"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.home.ui.profile.order.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.ui.cart.checkout.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.ui.profile.edit.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>